.card {
    padding: 10px;
    width: 25rem;
    background-color: rgb(38, 38, 44);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.137);
    width: 300px;
    text-align: center;
    align-content: center;
    margin: 16px;
}

.logo {

    padding: 5px;
    transform: translatey(-15px);
    width: 100px;
    height: 100px;
}

/*ESTILO CARRITO*/
.producto-contenedor {
    width: 30vw;
    height: 120px;
    margin-bottom: 20px;
    margin-left: 40px;
    display: block;
}

.producto {
    border-radius: 0.25rem;
    background-color: rgb(38, 38, 44);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.137);
    padding: 10px;
    height: 120px;
    display: flex;
    position: relative;
}

.imagen-producto {
    border-radius: 0.25rem;
    width: 100px;
    margin-right: 10px;
}

.contenido-producto {
    flex-grow: 1; 
}

.botones {
    margin-top: 10px;
    position: absolute; 
    top: 0; 
    right: 0;
    
}

.cantidad {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.cantidad-input {
    width: 40px;
    text-align: center;
}

.cantidad button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    padding: 5px;
    color: antiquewhite;
}


#carrito p {
    font-weight: bold;
    color: white;
}

.card2 {
    
    padding: 10px;
    width: 16rem;
    background-color: rgb(38, 38, 44);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.137);
    text-align: center;
    margin: 15px;
}

.contenedor {
    display: flex;
    justify-content: center;
    
}

.eliminar{
    background-color: rgb(231, 200, 200);
}

.iconos{
    display: flex; /* Establece los elementos hijos en una fila */

}
.icono-home{
    font-size: 45px;
    margin-left: 1100px;
    margin-right: 10px; 
    color: white;
    cursor: pointer;
}

.icono-search{
    font-size: 45px;
    color: white;
    cursor: pointer;
}

.icono-shoppingcart{
    font-size: 45px;
    color: white;
    cursor: pointer;
    margin-left: 8px;
}

.btn{
    background-color: #a36565;
}
.btn-primary{
    background-color: #a36565;
}