/*deerminar la misma fuente para todo*/
html{
    font-family: sans-serif; /* This will apply sans-serif to all text on the page */
}

.fuap{ 
    display:grid;
    grid-gap: 30px;
    grid-template-columns:auto;
}
.contenedor {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(4, auto);
	grid-template-areas: "izquier 		header 		Derecha"
						 "sidebar-1 	contenido 	sidebar-2"
						 "sidebar-1 	widgets 	sidebar-2"
						 "footer 		footer 		footer";
}

.contenedor .picL{
    grid-column-start: izquier;
    grid-column-end: izquier;
}
.contenedor .picR{
    grid-column-start: Derecha;
    grid-column-end: Derecha;
}


.contenedor .sidebar-1 {
	background: #393e46;
	grid-area:sidebar-1;
}

.contenedor .contenido {
	background: #fff;
	color: #000;
	grid-area:contenido;
}

.contenedor .widgets {
	background: #ff8000;
	grid-area:widgets;
}

.contenedor .sidebar-2 {
	background: #393e46;
	grid-area:sidebar-2;
}

.contenedor .footer {
	background: #222831;
	grid-area: footer;
}

/*Inicio configuraci칩n Footer*/
.footer {
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    opacity: 0.9;
    margin: 16px;
    margin-top: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
	min-height: 380px;
    font-family: sans-serif;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding: 16px;
    padding-top: 32px;
}

.top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	margin-top: 5%;
}

.logo-link {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.logo-image {
    height: 120px; /* 72 es igual al tama침o 'h-18' porcia */
    margin-right: 12px;
    border-radius: 1rem;
}

.company-name {
    /*font-size: 24px;
	font-family: sans-serif*/ /*fuente muy seria pa esta parte*/
	font-family: 'Pacifico', cursive; /* fuente entrete*/
    font-size: 32px; /* agrandar */
    color: #e91e63; /* rosa *-* */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /*sobra, si no no se lee tan bien*/
    transition: all 0.3s ease; /* transici칩n leve */
}

.company-name {
	transform: scale(1.1); /* agrandamos fuente en el ohver */
    color: #9c27b0; /* cambia el color en hover*/
}
.company-name {
    text-shadow: 0 0 8px rgba(255, 20, 147, 0.8); /* Pink glow */
}

.logo-link:hover .company-name {
    transform: scale(1.1); /* agrandar letra cuanno hacemos hover */
    color: #FF4500; /* Cambio colo en el hover */
}

.icon-links {
    display: flex;
    gap: 24px;
    margin-top: 0;
}

.icon-links a {
    color: #d1d5db;
}

.icon-links a:hover {
    color: #ff8000;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    color: #bcbcbc;
    list-style: none;
    padding: 0;
	margin-top: 2%;
	
}

.navigation li {
    margin-right: 24px;
}

.navigation a:hover {
    text-decoration: underline;
}

.divider {
    border-color: #d1d5db;
    margin: 24px 0;
}

.copyright {
    text-align: center;
    font-size: 14px;
}

a {
    color: inherit; /* se hereda el colo blanco del padre */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*Fin configuraci칩n Footer*/